<!DOCTYPE html>
<html lang="en">
<% include ../include/head %>
<body>
  <div class="container">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/friends">Друзья</a></li>
            <li><a id="countClient" href="/online"></a></li>
          </ul> -->
        </div>
      </nav>
      <hr>
      <div class="col s12 z-depth-1">
        <ul id="users-online" class="collection">
          <li id="online-none" class="collection-item">
            <h5 align="center">Никого нет в сети.</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <% include ../include/libs%>
  <script src="../source/js/online.js"></script>
</body>
</html>