<!DOCTYPE html>
<html lang="en">
<% include ../include/head %>S
<body>
	<div id="messanger" class="container" style="display: none;"> 
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/friends">Друзья</a></li>
						<li><a id="countClient" href="/online"></a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="msg" type="text" placeholder="Ваше сообщение">
				<div id="anw" style="max-height: 400px; overflow: auto;">
					<ul id="chat-history" class="collection">
						<li id="history-none" class="collection-item">
							<h5 align="center">Сообщении нет</h5>
						</li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div id="login" class="container">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/">Общий чат</a></li>
						<li><a id="countClient" href="/private">Приватный чат!</a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="nickname" type="text" placeholder="Ваше имя....">
				<a id="login-private-btn" class="waves-effect waves-light btn"><i class="material-icons right">chevron_right</i>войти в приватный чат</a>
				<hr>
			</div>
		</div>
	</div>

	<% include ../include/libs%>
	<script src="../source/js/send.js"></script>
</body>
</html>