<head>
	<meta charset="UTF-8">
	<title>Cool Chat on Socket IO</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../source/lib/materialize.min.css">
</head>
